<a href="https://colab.research.google.com/github/Pradeep23-01/Handling-Missing-Data/blob/main/Missing_Gen_Median.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dataset=pd.read_csv("Social_Network_Ads1.csv")

In [ ]:
for j in range(len(dataset.columns)):
  for i in range(len(dataset)):
    
    if np.isnan(dataset.iloc[i,j]):
      dataset.iloc[i,j]=dataset.iloc[:,j].median()

In [ ]:
print(dataset)

      Age  EstimatedSalary  Purchased
0    19.0          19000.0          0
1    35.0          20000.0          0
2    37.0          43000.0          0
3    27.0          57000.0          0
4    19.0          76000.0          0
..    ...              ...        ...
395  46.0          41000.0          1
396  51.0          23000.0          1
397  37.0          20000.0          1
398  36.0          33000.0          0
399  49.0          70000.0          1

[400 rows x 3 columns]