<a href="https://colab.research.google.com/github/Pradeep23-01/Handling-Missing-Data/blob/main/Missing_Gen_Mean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dataset=pd.read_csv("Social_Network_Ads1.csv")
data=dataset.dropna(0).values

In [ ]:
for j in range(len(dataset.columns)):
  for i in range(len(dataset)):
    
    if np.isnan(dataset.iloc[i,j]):
      dataset.iloc[i,j]=dataset.iloc[:,j].mean()

In [ ]:
print(dataset)

           Age  EstimatedSalary  Purchased
0    19.000000     19000.000000          0
1    35.000000     20000.000000          0
2    37.629723     43000.000000          0
3    27.000000     57000.000000          0
4    19.000000     76000.000000          0
..         ...              ...        ...
395  46.000000     41000.000000          1
396  51.000000     23000.000000          1
397  37.629723     20000.000000          1
398  36.000000     33000.000000          0
399  49.000000     69871.859296          1

[400 rows x 3 columns]